h2 {
  font-size: x-large;
  font-weight: 400;
}

.images {
  display: flex;
  justify-content: center;
}

.image {
  border: 0.1rem solid #555;
  margin: 1rem;
}

#download-button {
  display: flex;
  justify-content: center;
  margin: 1.5rem;
}

@media screen and (max-width: 720px) {
  .images {
    flex-direction: column;
    align-items: center;  
  }
}